*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 ;
    padding: 0 ;
    height: auto;
    background:url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main{
    margin-top: 13vh;
    position: relative;
    z-index: 1;
    display: grid;
    /* background: rgba(10, 10, 10, 0.616); */

}



.welcome-banner{
    width:100%;
    height: 250px;

    background: rgba(20, 20, 20, 0.829);

    margin-bottom: 50px;
    margin-top: 40px;

    padding: 100px;

    box-shadow:  13px 13px 16px rgba(20, 20, 20, 0.705),
             -13px -13px 16px rgba(20, 20, 20, 0.705);

}

.welcome-banner p{
    padding: 20px;

    font-size: 50px;

    align-items: center;

    text-align: center;

    color: burlywood;
}

.contact-us-table{
    background: rgb(12, 9, 44);

    margin-top: 0px;
    z-index: -10;

    padding-top: 100px;
    padding-bottom:100px;
}

.contacts{
    background: rgb(255, 255, 200);

    border-radius: 10px;


    /* position: absolute; */
    z-index: 5;
    top: -50px;
    left: 100px;
    margin: 20px;

    padding: 20px;

    display: grid;

    /* position: absolute; */
}

.contacts:hover{
    border-left: 10px solid red;

    margin-right: 10px;
    transition: all 0.3s ease;

}

.titles{
    font-size: 20px;
    font-family: fantasy;

    color: rgb(0, 0, 16);
    margin: 5px;
    padding: 20px;
}

.phone-no a, .subs{
    text-decoration: none;
    color: rgb(5, 92, 5);

    padding: 20px;
    margin: 5px;
}

.contacts-subs{
    margin-left: 20px;
    padding: 20px;
    border-bottom: 2px solid rgb(0, 0, 0);
    /* border-radius: 20px; */
}

.contacts-subs:hover{
    
    background: rgba(128, 128, 128, 0.24);
    transition: all 0.3s ease-in-out;
}


.message-form{
    display: flex;
    width: 100%;
    height: 100%;
    
    align-items: center;

    margin: 10px;
    padding: 20px;

    position: relative;
}

.name-email{
    display: inline-flex;
    width: 100%;
    
}



.message-form .form-input{
    width: 60%;

    height: 20px;

    border: 2px solid black;
    padding: 20px;
    margin: 20px 5px 20px 5px;
    border-radius: 10px;

    

    background: rgba(96, 145, 96, 0.404);
} 

#subject{
    width: 100%;
}

#msg-title{
    color: bisque;

    margin-top: -30px;
    margin-left: 250px;
    font-size: 30px;

    font-family: cursive;

}

textarea{
    width: 90%;

    color: black;
    background: rgba(114, 165, 114, 0.493);
    padding: 20px;
    margin: 20px;
    text-overflow: clip ;
}

.effect:hover{
    background: rgba(229, 255, 229);
}


#submit-button{
    background: rgb(255, 89, 0);
    color: black;

    border-radius: 10px;
    width: 100px;
    height: auto;

    margin: 20px;
    padding: 10px;
    cursor: pointer;

    border: none;
    
}
#submit-button:hover{
    background: red;
    transition: all 1s ease;
}


.location-row
{
    height: 600px;

    width:100%;

    background: rgb(255, 255, 200);

    padding: 20px;

    align-items: center;
    text-align: center;

}

.map-title{
    margin: 20px;
    padding: 10px;

    height: 30px;
    width: 100%;

    text-align: center;

    font-size: 30px;

}


.map{
    margin: 20px 20px 20px 200px;
    padding: 20px;
    align-items: center;
    width: 100%;

}