/* footer */

.main-wrap{
    width: 100%;
    background: #ffff;
}

.footer-wrap{
    position: relative;
    margin-top: 0px; /*edit when fiting into the project*/

    width: 100%;
    padding: 0px;

    background:#061422;


}

.subscribe{
  width:100%;
  display: inline-flex;
  padding: 10px 35px;
} 

.subscribe h1{
  margin: 5px;
  padding: 0px;
  color: #09689E;
}

.subscribe p{
  margin: 5px;
  padding: 10px;
  color:chartreuse;
}

.subscribe form{
  position: relative;
}

.subscribe form input{
  position: relative;
  height: 35px;
  width: 320px;
  margin: 10px 0px;
  border: none;
  outline: none;
  padding: 6px;
  font-size: 14px;

  border-radius: 4px;
}

.subscribe form .btn{
  height: 35px;
  background: rgb(79, 156, 69);

  border: none;
  padding: 0px 6px;
  margin: 8px 0px;
  position: relative;
  left: 20%;
  font-weight: 600;
  cursor: pointer;
  color: #ffff;

  border-radius: 7px;
}

 .subscribe .btn:hover{
  color: aqua;

  transform: scale(1.2);
  
}
.footer-wrap-1{
    display: flex;
}

.footer-section{
    width: 22%;
    display: block;
    padding: 10px 35px;

}

.footer-section:last-of-type{
    width: 34%;
}


.footer-section h1{ 
    font-size: 22px;
    color: #ffff;
    margin-bottom: 8px;

}

.footer-section a{
    color: #ffff;

    display: block;
    text-decoration: none;
    padding: 4px 0;
}

.footer-section a:hover{
    color: #2bab0d;
}

.footer-section p{
  color: #ffff;
  font-size: 16px;
}

/*  */


.btn:hover{
    background: rgb(107, 204, 94);
}


.social-media{
  text-decoration: none;

  height: 26px;
  display:inline-flex;
  width: 26px;
  padding: 5px;
  border-radius: 5px;

  margin: 5px;
  background: rgb(240, 222, 222);
}

.social-media a{
  width: 14px;
  height: 14px;

  margin: 5px 5px 5px 5px;
}


h4{
  font-family: cursive;
  font-size: 15px;
  font-style: italic;
}

h4 a:hover{
  color: greenyellow;
}

.mini-gallery{
  height: 80px;
  width: 80px;
}

.img-row{
  display: flex;
}

.img-col{
  margin: 2px;

}
.img-col a{
  margin: 2px;

}

.img-col a img{
  border-radius: 5px;
}

.img-col a:hover{
  transform: scale(2.0);
  transition: all 1s ease;
  cursor: default;
}

