body{
    margin: 0;
    padding: 0;

    font-family: sans-serif;

    background: url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.login-form{
    width: 400px;
    padding: 30px;
    top:50%;
    left: 50%;

    position: absolute;

    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}


.login-form h1{
    color: antiquewhite;
    text-transform: uppercase;
    font-weight: 700;
}

.login-form input[type="text"], input[type="date"], input[type="date"]
{
    border: 0;
    background-color: none;

    display: block;
    margin: 20px;
    text-align: center;
    border: 3px solid #0367fd;
    padding: 14px 10px;

    width: 270px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.25px;
}

.login-form input[type="text"]:focus, .login-form select
{
    border: 0;
    border:3px solid gold;
}

.login-form label{
    color: antiquewhite;
    text-transform: uppercase;
    /* font-weight: 700; */

}

.login-form select{
    margin: 20px;
    text-align: center;
    border: 3px solid #0367fd;
    padding: 14px 10px;

    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.25px;
}

.login-form input[type="submit"]{
    width: 70px;
    border: 0;
    background-color: none;

    display: block;
    margin-left: 40%;
    text-align: center;
    border: 3px solid #ffc400ec;
    padding: 14px 10px;
    

    outline: none;
    color: rgb(14, 12, 12);
    border-radius: 10px;
    transition: 0.25px;
    cursor: pointer;


}

.login-form input[type="submit"]:hover{
    background: #ffc400ec;
}