.sports-gallery, .clubs-gallery{
    background: rgba(24, 23, 23, 0.7);
    color: bisque;

    margin-top: 20px;
    margin-bottom: 50px;

    padding: 20px;
}

.sub-title
{
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;

}

caption{
    text-emphasis: none;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.chess{
    margin-left: 150px;
}
