*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 ;
    padding: 0 ;
    height: auto;
    background:url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main{
    margin-top: 13vh;
    position: relative;
    z-index: 1;
    display: grid;
    /* background: rgba(10, 10, 10, 0.616); */

}

.admission-banner{
    margin-top: 15vh;
    width: 100%;

    height: 300px;

    background: rgba(0, 0, 0, 0.8);

    color: rgb(255, 244, 181);
    text-align: center;
    align-items: center;

    box-shadow:  13px 13px 16px rgba(20, 20, 20, 0.705),
             -13px -13px 16px rgba(20, 20, 20, 0.705);

}

.admission-banner h1{
    font-size: 40px;

    font-family: cursive;

    padding-top: 150px;

}

.admission-intro{
    display: grid;
    grid-template-columns: 30% 65%;

    padding: 20px;
    margin-top: 150px;

}

.overlap-div, .overlap-div img{
    z-index: 5;
    width: 100%;

    height: auto;

    margin-top: -20px;
    margin-right: -50px;


    border-radius: 10px;

}

.explanation{
    z-index: 2;
    width: 100%;
    height: auto;
    background: rgba(255, 254, 250, 0.364);

    padding-right: 40px;
    padding-top: 100px;
    padding-left: 100px ;
    margin-left: -100px;

    
    text-align: center;
    align-items: center;

}
.explanation p{
    margin: 0;
    padding: 10px;

}
.explanation h1{
    margin-top: -20px;
    margin-bottom: 20px;

}

.download{
    height: 200px;
    width: 100%;
    /* margin-top: 100px; */
    padding: 50px;
    color: rgb(0, 204, 255);

    font-size: 30px;

    text-align: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.364);


}

.download p{
    padding: 20px;
    margin: 20px;
    
}

.download a{
    text-emphasis: none;
    text-decoration: none;

    border: 1px solid grey;
    border-radius: 10px;
    background: rgb(14, 14, 66);
    color: aquamarine;
    margin: 10px;
    padding: 10px;

    cursor: pointer;

}


.download a:hover{
    color: rgb(2, 34, 34);
    background: goldenrod;
    transition: all 1s ease;

}

.thanks{
    height: 200px;
    margin-top: 100px;
    margin-bottom: 100px;

    text-align: center;
    align-items: center;

    color: rgb(0, 11, 46);
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
}


