*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 ;
    padding: 0 ;
    height: auto;
    /* background:url("../images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

main{
    margin-top: 13vh;
    position: relative;
    z-index: 1;
    display: grid;
    /* background: rgba(10, 10, 10, 0.616); */

}

.welcome-banner{
    width:100%;
    height: 200px;

    background: rgba(32, 31, 31, 0.705);

    margin-bottom: 50px;
    margin-top: 20px;

    padding: 50px;

    box-shadow:  13px 13px 16px rgba(20, 20, 20, 0.705),
             -13px -13px 16px rgba(20, 20, 20, 0.705);

}

.welcome-banner p{
    padding: 20px;

    font-size: 50px;

    align-items: center;

    text-align: center;

    color: burlywood;
}


.wwa-title{
    /* margin: 20px; */
    /* padding: 20px; */
    width: 100%;
    text-align: center;
    align-items: center;
    box-shadow:  17px 17px 34px #1e1d1d,
    -17px -17px 34px #787575;

}


.wwa-title p{
    color: rgb(126, 1, 1);
    font: 900;

    font-size: 35px;    
}

.who-we-are{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    width: 100%;
    margin: 0;
    padding: 100px;

    align-items: center;
}

.who-we-are .sub-wrappers{
    width: 100%;
    
    align-items: center;
    text-align: center;

    height: 500px;

}

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;

    margin-top: -100px;
}

.contaner-1
{
    position: relative;
    margin: 100px;

    margin: 10px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-container{
    background:blanchedalmond;
    
    position: absolute;

    z-index: 5;
    width: 180px;
    height: 130px;
    left: 80px;
    bottom: 400px;

    border-radius: 5px;

    display: flex;

    background: rgba(250, 250, 250, 0.8);
    background-position: center;
    background-repeat: no repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);


    color: orangered;

    font-size: 25px;
    font-family: cursive;
    font-style: italic;
    font-weight: 900;

}

.title-container:hover{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 8px solid red;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
}
.description-container{
    background: rgba(143, 104, 32, 0.781);
    z-index: 2;

    position: relative;

    top: 100px;

    width: 300px;

    height: 500px;

    /* border-radius: 30px; */

    margin: 100px 20px 100px 20px;
    padding: 150px 50px 50px 50px;

    text-align: center;

    font-size: 25px;
    font-family: cursive;
    font-weight: 500;

}


/* principal's message
 */

.principal-msg{
    display: grid;
    grid-template-columns: 20% 70%;
    
    margin: 20px;
    padding: 20px;
}

.principal-msg .picture img{
    margin: 20px;
    
    border-radius: 50%;
    width: 75%;
    height: auto;

}

.principal-msg .message p{
    margin-right: 50px;
    margin-left: -20px;
    width: 100%;
    padding: 30px;

    /* font-family: sans-serif; */
    font-size: 18px;
    border-radius: 10px;

    background: rgba(110, 108, 108, 0.9);
}

.principal-msg .message h3{
    font-family: sans-serif;
    text-align: center;
    font-size: 18px;

}


/* history section */

.our-history{
    margin: 200px 0 100px 0 ;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0em;



}

.our-history .images{
    display: flex;

}

.our-history .images .image-1 img{
    position: relative;
    width: 450px;
    height: 400px;

    z-index: 3;
    left: 100px;

    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    border-radius: 10px;



}

.our-history .images .image-1 img:hover{
    transform: scale(1.2);
    transition: all 2s ease;

    z-index: 11;

    box-shadow: black;

}

.our-history .images .image-2 img{
    position: absolute;
    

    width: 250px;
    height: 180px;

    z-index: 7;
    margin-top: 100px;
    margin-left: -60px;

    border-radius: 10px;


}

.our-history .images .image-2 p{
    position: absolute;
    z-index: 10;

    width: 250px;
    height: 180px;

    margin-top: 100px;
    margin-left: -60px;


    background-color: rgba(245, 245, 220, 0.678);

    align-items: center;

    text-align: center;

    border-radius: 10px;
    border-left: 8px solid red;
    color:brown;

    font-size: 30px;
    font-style: bold;

    padding-left: 30px;
    padding-top: 80px;

    cursor: pointer;
}

.our-history .paragraph{
    background-color: rgba(250, 250, 250, 0.7);
    

    /* border-radius: 20px; */

    align-items: center;
    text-align: center;

    padding-top: 40px;
    padding-left: 200px;

    margin-bottom: -100px;
    margin-left: -200px;
    margin-right: 20px;
    margin-top: -50px;
}

.our-history .paragraph p{
    margin: 10px;
    padding: 10px;

}


